.logo{
    padding: 20px;
    height: 10%;
    width: 50%;
}
.menu{
    
    text-align: center;
    background: rgb(162, 150, 16);
}
.anhnen{
    width: 100%;
    height: 20%;
}
.menu1{
    text-align: center;
    background: rgb(193, 190, 190);
}
.lk{
    text-align: center;
    color: rgb(42, 42, 95);
}
.box1{
    font-size: 30;
}